
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Carousel Template for Bootstrap</title>

  <link href="{% static 'css/carousel.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/ie10-viewport-bug-workaround.css' %}" rel="stylesheet">
  </head>
  <title>{% block head_title %}{% endblock %} AUTUM <img src={%static "img/autum.jpg" %}></img></title>
 <div class="navbar-wrapper">
      <div class="container">
       <!--  {# verbatim #}
        {% include carousel.css %}
         -->

      </div>
    </div>
<!-- NAVBAR
================================================== -->
  <body>
    <div class="navbar-wrapper">
      <div class="container">

        <nav class="navbar navbar-inverse navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">AUTUM <img src = "fall-leaf-cutout.gif" style="width:25px;height:25px"> </img></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="active"><a href="#">Dashboard</a></li>
                <li><a href="#">AWS Registered</a></li>
                
                  
                </li>
              </ul>
            </div>
          </div>
        </nav>

      </div>
    </div>


   
      </div>
       
       <h1> Enter your Information </h1>
       <td><h2> Enter your Zone
       <select id="selectzone">
         <option>Select a zone</option>
       </select>
       <td><h2> Enter your region
        <select id="selectregion">
          <option>Select a region</option>
        </select>
        <td><h2> Enter an image
          <select id="selectimage">
            <option>Select an image</option>
            <td><h2> Enter Minimum Count</h2>
        <input type="text" size="4" value="Min_Count">
        <td><h2> Enter Maximum Count
        <input type="text" size="4" value="Max_Count">
        <td><h2> Enter Key Name
        <input type="text" size="12" value="Key_Name">
        <td><h2> Enter Instance Type
        <input type="text" size="12" value="Inst_Type">
        <td><h2> Monitoring Status
        <select id="check status">
        <option>CheckStatus</option>
        </select>
    <script type="text/javascript">
var myobject = {
  ValueA : 'es-us-1',
  ValueB : 'es-us-2',
  ValueC : 'es-us-3',
  ValueD : 'es-us-4',
};

var select = document.getElementById("selectzone");
for(index in myobject) {
  select.options[select.options.length] = new Option(myobject[index], index);
}

</script>
  <script>
var myobject1 = {
  ValueA : 'Virginia_US',
  ValueB : 'Dallas_US',
  ValueC : 'Hongkong_China',
  ValueD : 'Europe_UK',
};

var select = document.getElementById("selectregion");
for(index in myobject1) {
  select.options[select.options.length] = new Option(myobject1[index], index);
}

</script>

  <script type="text/javascript">
var myobject2 = {
  ValueA : 'image-1',
  ValueB : 'image-2',
  ValueC : 'image-3',
  ValueD : 'image-4',
};

var select = document.getElementById("selectimage");
for(index in myobject2) {
  select.options[select.options.length] = new Option(myobject2[index], index);
}

</script>


 <script type="text/javascript">
var myobject2 = {
  ValueA : 'Enable',
  ValueB : 'Disable',
};
var select = document.getElementById("check status");
for(index in myobject2) {
  select.options[select.options.length] = new Option(myobject2[index], index);
}

</script>
<td><h2><button onclick="myFunction()">Update</button></h2>
<p id="zone"></p>
<p id="region"></p>
<p id="image"></p>
<p id="min_count"></p>
<p id="max_count"></p>
<p id="key_name"></p>
<p id="inst_type"></p>
<p id="monitoring"></p>
<script>
function myFunction() {
  document.getElementById("zone").innerHTML = "Zone selected";
  document.getElementById("region").innerHTML = "Region selected";
  document.getElementById("image").innerHTML = "Image selected";
  document.getElementById("min_count").innerHTML = "min_count selected";
  document.getElementById("max_count").innerHTML = "max_count selected";
  document.getElementById("key_name").innerHTML = "key_name selected";
  document.getElementById("inst_type").innerHTML = "inst_type selected";
  document.getElementById("monitoring").innerHTML = "monitoring selected";
}
</script>

<script type="text/javascript">
  function myFunction() {
    $('.ajaxProgress').show();
    $.ajax({
      type: "POST",
      url: "aws_home",
      dataType: "json",
      async: true,
      data : {
        csrfmiddlewaretoken: '{{ csrf_token }}',
        zone: $('#zone').val() 
      },

      success: function (json){
        $('#output').html(json.message);
        $('.ajaxProgress').hide();
      }
      


    });
  }

</script>

        
      </form>

    </div> <!-- /container -->


    
     {% block row %}
    {% endblock %}
    
    {% block content %}
    {% endblock %}
  


  {% include 'javascript.html' %}
  </body>
</html>
