{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Dashboard Template for Bootstrap</title>
    <link href="{% static 'css/dashboard.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/ie10-viewport-bug-workaround.css' %}" rel="stylesheet">
</head>
<title>{% block head_title %}{% endblock %}</title>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
             <a class="navbar-brand" href="#">AUTUM <img
                    src={% static "img/autum.jpg" %} style="width:25px;height:25px"> </img></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/dashboard/">Dashboard</a></li>
                <li><a href="/support">Contact</a></li>
                <li>
                <li><a href="/home" > Logout </a></li>


            </ul>

            </ul>
            <form class="navbar-form navbar-right">
                <input type="text" class="form-control" placeholder="Search...">
            </form>
        </div>
    </div>
</nav>


<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="page-header">Dashboard</h1>

    <div class="row placeholders">
        <div class="col-xs-6 col-sm-3 placeholder">
            <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
            <script type="text/javascript">
                google.charts.load('current', {'packages': ['corechart']});
                google.charts.setOnLoadCallback(drawChart);

                function drawChart() {
                    var data = google.visualization.arrayToDataTable([
                        ['Performance', 'Service providers'],
                        ['AWS', 2.5],
                        ['Azure', 3.2],
                        ['Google', 2.3],
                        ['IBM', 3.7],
                        ['Rackspace', 3.9]]);

                    var options = {
                        title: 'Performance chart',
                        curveType: 'function',
                        legend: {position: 'bottom'}
                    };

                    var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));
                    chart.draw(data, options);
                }
            </script>

            <div id="curve_chart" style="width: 300px; height: 250px"></div>

            <h4>Performance Graph</h4>

        </div>
        <div class="col-xs-6 col-sm-3 placeholder">
            <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
            <script type="text/javascript">
                google.charts.load('current', {'packages': ['corechart']});
                google.charts.setOnLoadCallback(drawChart);

                function drawChart() {
                    var data = google.visualization.arrayToDataTable([
                        ['Price', 'Service providers'],
                        ['AWS', 500],
                        ['Azure', 200],
                        ['Google', 350],
                        ['IBM', 700],
                        ['Rackspace', 425]]);

                    var options = {
                        title: 'Price chart',
                        curveType: 'function',
                        legend: {position: 'bottom'}
                    };

                    var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

                    chart.draw(data, options);
                }
            </script>

            <div id="curve_chart" style="width: 300px; height: 250px"></div>

            <h4>Price Graph</h4>

        </div>

    </div>
        <td>
            <h2> Enter your option</h2>
                <select id="selectOP">
                    <option>Select operation</option>
                </select>
                <p id="selectOP"></p>

                <button onclick="myFunction()">Submit</button>



<script type="text/javascript">
    var myobject = {
        ValueA: 'create',
        ValueB: 'update',
        ValueC: 'delete',
        ValueD: 'retrieve',
        ValueA: 'start',
        ValueB: 'stop',
        ValueC: 'retrieve',
    };

    var select = document.getElementById("selectOP");
    for (index in myobject) {
        select.options[select.options.length] = new Option(myobject[index], myobject[index]);
    }

</script>
<script type="text/javascript">
    function myFunction() {
        document.getElementById("select").innerHTML = "Crud Operation selected";

    }

</script>
<script type="text/javascript">
    function myFunction() {
{#        $('.ajaxProgress').show();#}
{#        $.ajax({#}
{#            type: "POST",#}
{#            url: "/aws_home/",#}
{#            async: true,#}
{#            data: {#}
{#                csrfmiddlewaretoken: '{{ csrf_token }}',#}
{#                selectOP: $("#selectOP").val(),#}
{#            },#}
{#            success: function (json) {#}
{#                $('#output').html(json.message);#}
{#                $('.ajaxProgress').hide();#}
{#            },#}
{#            fail: function () {#}
{#                alert("failed");#}
{#            }#}
{#        });#}

        var value = $("#selectOP").val()
        location.href = value;
    }
</script>
{% include 'javascript.html' %}
</body>
</html>
